.timeline-container{
    font-family: 'Manrope', sans-serif;
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--darkViolet);
    padding: 100px 0;
    color: white;
    position: relative;
}

.timeline-container .events-title{
    position: absolute;
    top: 1%;
    font-size: 36px;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline ul{
    list-style: none;
}

.timeline ul li{
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    margin-bottom: 20px;
}

.timeline ul li:last-child{
    margin-bottom: 0;
}

.timeline-content h1{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
}

.timeline-content p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.timeline-content .date{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.timeline-content .timeline-image img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

@media only screen and (min-width: 768px){
    .timeline::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffffff;
    }


    .timeline ul li{
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }

    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 00px 2px 20px 20px;
    }

    .timeline ul li::after{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: var(--timelineDot);
        border-radius: 50%;
        top: 0;
    }

    .timeline ul li:nth-child(odd)::after{
        transform: translate(50%, -50%);
        right: -30px;
    }

    .timeline ul li:nth-child(even)::after{
        transform: translate(-50%, -50%);
        left: -30px;
    }

    .timeline ul li:hover::after{
        background-color: var(--timelineDotHover);
    }
    .timeline-content .date{
        position: absolute;
        top: -20px;
        color: floralwhite;
    }

}