<footer>
    <hr>
    <div class="footer-container">
        <div>
            <p class="small-para"><small>Join with us!</small></p>
            <h5 class="main-title">Are you a <span class="u-anime">JavaScript Developer</span>?</h5>
        </div>
        <div class="social-media">
            <a href="https://www.instagram.com/jsdcommunity/" class="social-link social-link-active">
                <i class="fab fa-instagram social-icon"></i>
            </a>
            <a href="https://www.linkedin.com/company/jsd-community" class="social-link social-link-active">
                <i class="fab fa-linkedin-in social-icon"></i>
            </a>
            <a href="https://t.me/JSD_community" class="social-link social-link-active">
                <i class="fab fa-telegram social-icon"></i>
            </a>
            <a href="https://twitter.com/CommunityJsd" class="social-link social-link-active">
                <i class="fab fa-twitter social-icon"></i>
            </a>
        </div>
    </div>
</footer>