<header>
    <div class="container-header">
        <div class="logo">
            <h1>JSD</h1>
        </div>
        <div class='nav-responsive'>
            <i class="nav-close fas fa-times"></i>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href='#' class="nav-links">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-links">Events</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-links"> About</a>
                </li>
                <li class="nav-item">
                    <a href="#gallery" class="nav-links"> Gallery</a>
                </li>
            </ul>
            <div class="social-media">
                <a href="#" class="social-link">
                    <i class="fab fa-instagram social-icon"></i>
                </a>
                <a href="#" class="social-link">
                    <i class="fab fa-linkedin-in social-icon"></i>
                </a>
                <a href="#" class="social-link">
                    <i class="fab fa-telegram social-icon"></i>
                </a>
                <a href="#" class="social-link">
                    <i class="fab fa-whatsapp social-icon"></i>
                </a>
            </div>
        </div>
        <div class="nav-toggle" id="toggle">
            <i class="fas fa-bars toggle-icon"></i>
        </div>
    </div>
</header>